body {
    background-image: url("img/cats.png");
    background-size: cover;
    background-repeat: no-repeat;
}

h1, p, a {
    font-family: 'Carrois Gothic SC', sans-serif;
    display: block;
    text-align: center;
    line-height:.8;
    color: darkslategray;
    background-color: darkgray;
}